{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_add'|trans }}
{% endblock %}
{% block content_title %}
    <i title="{{ 'title.tags'|trans }}" class="fas fa-tag"></i> {{ 'title.tag_add'|trans }}
{% endblock %}


{% block content %}
    {{ form_start(form, { method: 'post', action: url('tags_add') }) }}
    {% if false == form.vars.valid %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ 'message.form_error'|trans }}
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
        <a class="btn btn-secondary float-right" href="{{ path('tags_index') }}">
            <i class="fas fa-long-arrow-alt-left"></i> {{ 'message.back_to_tags'|trans }}
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}