{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tags'|trans }}{% endblock %}
{% block content_title %}<i title="{{ 'title.tags'|trans }}" class="fas fa-tags"></i> {{ 'title.tags'|trans }}{% endblock %}


{% block content %}
    {% if tags is defined and tags|length %}
        <span class="d-block">{{ 'info.tags'|trans }}</span>
        <div class="d-block m-2 m-lg-4">
            {% for tag in tags %}
            <h3 class="d-inline tag-{{ min(tag.news.values|length, 10) }}">
                <a href="{{ path('tag_view', {'id': tag.id}) }}" class="badge badge-secondary tag m-1">{{ tag.name }}</a>
            </h3>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% if tags.haveToPaginate %}

                <div class="navigation text-center">
                    <nav aria-label="Page navigation">
                        {{ pagerfanta(tags, 'twitter_bootstrap4_translated', {routeName: 'tags_index_paginated'}) }}
                    </nav>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
    {% if is_granted("ROLE_REDACTOR") %}
        <a class="btn btn-success" href="{{ path('tags_add') }}"><i class="fas fa-plus"></i> {{ 'message.add_new'|trans }}</a>
    {% endif %}
    <a class="btn btn-secondary float-right" href="{{ path('homepage') }}">
        <i class="fas fa-long-arrow-alt-left"></i> {{ 'message.back_to_news'|trans }}
    </a>
{% endblock %}