{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag'|trans }}: {{ tag.name }}{% endblock %}
{% block content_title %}<i title="{{ 'title.tags'|trans }}" class="fas fa-tag"></i> {{ tag.name }}{% endblock %}


{% block content %}
    {% if tag is defined and tag|length %}
        <div class="clearfix">
            {% if is_granted("ROLE_REDACTOR") %}
                    <a class="btn btn-primary float-left m-1" href="{{ path('tags_edit', {'id': tag.id}) }}">
                        <i class="fas fa-edit"></i> {{ 'message.edit'|trans }}
                    </a>
                    <a class="btn btn-danger float-left m-1" href="{{ path('tags_delete', {'id': tag.id}) }}">
                        <i class="fas fa-trash-alt"></i> {{ 'message.delete'|trans }}
                    </a>
            {% endif %}
            <a class="btn btn-secondary float-right m-1" href="{{ path('tags_index') }}">
                <i title="{{ 'title.tags'|trans }}" class="fas fa-tags"></i> {{ 'message.back_to_tags'|trans }}
            </a>
            <a href="{{ url('homepage') }}" class="btn btn-secondary float-right m-1">
                <i title="{{ 'title.news'|trans }}" class="far fa-newspaper"></i> {{ 'message.back_to_news'|trans }}
            </a>
        </div>
        {% if tag.news.values|length %}
            <h2 class="m-3 text-center">{{ 'title.associated_posts'|trans }}</h2>
            {% for post in tag.news.values %}
                <div class="card post mb-3">
                    <div class="card-header">
                        <a href="{{ url('news_view',{'id': post.id}) }}" class="link-unstyled">
                            <h3 class="float-left">
                                {{ post.title }}
                            </h3>
                        </a>
                        <span class="float-right">
                        <span class="d-none d-md-block">
                            {{ 'description.created'|trans({'%date%': post.createdDate|localizeddate('long', 'none'), '%author%': post.creator.username}) }}
                        </span>
                        <span class="d-block d-md-none">
                            {{ 'description.created'|trans({'%date%': post.createdDate|localizeddate('short', 'none'), '%author%': post.creator.username}) }}
                        </span>
                            {% if post.modifier %}
                                <span class="d-none d-md-block">
                                {{ 'description.modified'|trans({'%date%': post.modifiedDate|localizeddate('long', 'none'), '%author%': post.modifier.username}) }}
                            </span>
                                <span class="d-block d-md-none">
                                {{ 'description.modified'|trans({'%date%': post.modifiedDate|localizeddate('short', 'none'), '%author%': post.modifier.username}) }}
                            </span>
                            {% endif %}
                    </span>
                    </div>
                    <div class="card-body">
                        <a href="{{ url('news_view',{'id': post.id}) }}">
                            {% if post.imagePath %}
                                <img class="mb-3 news-image mr-lg-3" src="{{ asset('./uploads/' ~ subdirectory_path ~ '/' ~ post.imagePath) }}" alt="{{ post.title }} - image">
                            {% else %}
                                {% image '../app/Resources/public/images/placeholder.png' %}
                                    <img class="mb-3 news-image mr-lg-3" src="{{ asset_url }}" alt="{{ post.title }} - image">
                                {%  endimage %}
                            {% endif %}
                        </a>
                        {{ post.summary|raw }}
                        <span class="d-block text-center">
                        <a href="{{ url('news_view',{'id': post.id}) }}" class="btn btn-secondary">{{ 'message.read_more'|trans }}</a>
                        {% if is_granted("ROLE_REDACTOR") %}
                            <a href="{{ url('news_edit',{'id': post.id}) }}" class="btn btn-primary m-1"><i class="fas fa-edit"></i> {{ 'message.edit'|trans }}</a>
                            <a href="{{ url('news_delete',{'id': post.id}) }}" class="btn btn-danger m-1"><i class="fas fa-trash-alt"></i> {{ 'message.delete'|trans }}</a>
                        {% endif %}
                    </span>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            {{ 'message.no_associated_posts'|trans }}
        {% endif %}
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
{% endblock %}
