{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag'|trans }}: {{ tag.name }}{% endblock %}
{% block content_title %}<i title="{{ 'title.tags'|trans }}" class="fas fa-tag"></i> {{ tag.name }}{% endblock %}


{% block content %}
    {% if tag is defined and tag|length %}
        <div class="clearfix">
            {% if is_granted("ROLE_REDACTOR") %}
                    <a class="btn btn-primary float-left m-1" href="{{ path('tags_edit', {'id': tag.id}) }}">
                        <i class="fas fa-edit"></i> {{ 'message.edit'|trans }}
                    </a>
                    <a class="btn btn-danger float-left m-1" href="{{ path('tags_delete', {'id': tag.id}) }}">
                        <i class="fas fa-trash-alt"></i> {{ 'message.delete'|trans }}
                    </a>
            {% endif %}
            <a class="btn btn-secondary float-right m-1" href="{{ path('tags_index') }}">
                <i title="{{ 'title.tags'|trans }}" class="fas fa-tags"></i> {{ 'message.back_to_tags'|trans }}
            </a>
            <a href="{{ url('homepage') }}" class="btn btn-secondary float-right m-1">
                <i title="{{ 'title.news'|trans }}" class="far fa-newspaper"></i> {{ 'message.back_to_news'|trans }}
            </a>
        </div>
        {% if tag.news.values|length %}
            <h2 class="m-3 text-center">{{ 'title.associated_posts'|trans }}</h2>
            {% for post in tag.news.values %}
                {{ include('news/_summary_single.html.twig') }}
            {% endfor %}
        {% else %}
            {{ 'message.no_associated_posts'|trans }}
        {% endif %}
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
{% endblock %}
