{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.event_add'|trans }}
{% endblock %}
{% block content_title %}
    <i class="far fa-calendar-alt"></i> {{ 'title.event_add'|trans }}
{% endblock %}

{% block content %}
    <div class="clearfix">
        <a href="{{ url('event_index') }}" class="btn btn-secondary float-right m-1">
            <i title="{{ 'title.events'|trans }}" class="far fa-calendar"></i> {{ 'message.back_to_events'|trans }}
        </a>
    </div>
    {{ form_start(form, { method: 'post', action: url('event_add') }) }}
    {% if false == form.vars.valid %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ 'message.form_error'|trans }}
        </div>
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {#{{ form_row(form.summary) }}#}
        <div>
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary m-1" />
            <a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}">
                <i class="fas fa-arrow-circle-left"></i> {{ 'message.back'|trans }}
            </a>
        </div>
    {{ form_end(form) }}

{% endblock %}