{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}
{% block content_title %}{{ title|trans }}{% endblock %}


{% block content %}
    {% if is_granted("ROLE_REDACTOR") %}
        <a class="btn btn-success mb-3" href="{{ path('event_add') }}"><i class="fas fa-plus"></i> {{ 'message.add_new'|trans }}</a>
    {% endif %}
    {% if events is defined and events|length %}
        {% set year = null %}
        {% for id, event in events %}
            {% if event.dateStart|localizeddate('none', 'none', null, null, "y") != year %}
                {% set year = event.dateStart|localizeddate('none', 'none', null, null, "y") %}
                <hr class="hr-text" data-content="{{ year }}">
            {% endif %}
            <div class="card mb-3 w-100">
                {% if event.imagePath %}
                    <a href="{{ path('event_view', {'id': event.id}) }}">
                        <img class="card-img-top" src="{{ asset('./uploads/' ~ event_subdirectory_path ~ '/' ~ event.imagePath) }}" alt="{{ event.name }} cover image">
                    </a>
                {% endif %}
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                            {{ include('events/_calendar_card.html.twig') }}
                        </div>
                        <div class="media-body">
                            <a href="{{ path('event_view', {'id': event.id}) }}" class="link-unstyled">
                                <h4>{{ event.name }}</h4>
                            </a>
                            {% if is_granted("ROLE_REDACTOR") %}
                                    <a class="btn btn-primary float-md-right m-1 mb-md-3" href="{{ path('event_edit', {'id': event.id}) }}">
                                        <i class="fas fa-edit"></i> {{ 'message.edit'|trans }}
                                    </a>
                                    <a class="btn btn-danger float-md-right m-1 mb-md-3" href="{{ path('event_delete', {'id': event.id}) }}">
                                        <i class="fas fa-trash-alt"></i> {{ 'message.delete'|trans }}
                                    </a>
                            {% endif %}
                            <p class="d-none d-md-block">
                                {{ event.summary }}
                            </p>
                        </div>
                    </div>
                    <p class="d-md-none d-block">
                        {{ event.summary }}
                    </p>
                </div>
            </div>

        {% endfor %}
        <div class="d-flex justify-content-center">
            {% if events.haveToPaginate %}
                <div class="navigation text-center">
                    <nav aria-label="Page navigation">
                        {{ pagerfanta(news, 'twitter_bootstrap4_translated', {routeName: 'event_index_paginated'}) }}
                    </nav>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
        <span class="text-center d-block mt-3">
            {% if active_subelement == 'events' %}
                <a href="{{ path('archive_event_index') }}" class="btn btn-secondary">
                    <i class="fas fa-calendar-alt"></i> {{ 'message.show_archive'|trans }}
                </a>
            {% else %}
                <a href="{{ path('event_index') }}" class="btn btn-secondary">
                    <i class="far fa-calendar-alt"></i> {{ 'message.show_actual'|trans }}
                </a>
            {% endif %}
        </span>
{% endblock %}
