<aside class="d-none d-md-block calendar">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i> {{ 'title.upcoming_events'|trans }}
            </h3>
        </div>
        <div class="card-body">
            {% if events is defined and events|length %}
                <ul class="list-unstyled">
                    {% for event in events %}
                        <li>
                            <h4>
                                <a href="{{ path('event_view', {'id': event.id}) }}" class="link-unstyled">{{ event.name }}</a>
                            </h4>
                            <div class="media">
                                <div class="mr-3">
                                    {{ include('events/_calendar_card.html.twig') }}
                                </div>
                                <div class="media-body">
                                    <p class="mb-1">
                                        {{ event.summary }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ 'message.empty_list'|trans }}
            {% endif %}
            <a href="{{ url('event_index') }}" class="btn btn-secondary btn-block">{{ 'message.more_events'|trans }}</a>
        </div>
    </div>
</aside>