<aside class="d-none d-md-block calendar">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i> {{ 'title.upcoming_events'|trans }}
            </h3>
        </div>
        <div class="card-body">
            {% if events is defined and events|length %}
                <ul class="list-unstyled">
                    {% for event in events %}
                        <li>
                            <h4>
                                {{ event.name }}
                            </h4>
                            <div class="media">
                                <div class="mr-3">
                                    <div class="card text-center date">
                                        <div class="card-header month">
                                            <span class="card-title strong">
                                                {{ event.dateStart|localizeddate('none', 'none', null, null, "MMM") }}
                                            </span>
                                        </div>
                                        <div class="card-body day text-danger">
                                            {{ event.dateStart|localizeddate('none', 'none', null, null, "d") }}
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="link-unstyled media-body">
                                    <p>
                                        {{ event.summary }}
                                    </p>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                </ul>
            {% else %}
                {{ 'message.empty_list'|trans }}
            {% endif %}
            <a href="{{ url('events') }}" class="btn btn-secondary btn-block">{{ 'message.more_events'|trans }}</a>
        </div>
    </div>
</aside>