<nav class="side-menu d-none d-md-block rounded navbar navbar-light">
    <a class="navbar-brand" href="{{ url('larps',{'title': 'what_is_larp'}) }}"><i class="fas fa-chess"></i> {{ 'title.about_larp'|trans }}</a>
    <ul class="navbar-nav nav flex-column">
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'what_is_larp' %} active{% endif %}" href="{{ url('larps',{'title': 'what_is_larp'}) }}">{{ 'title.larps.what_is_larp'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'types' %} active{% endif %}" href="{{ url('larps',{'title': 'types'}) }}">{{ 'title.larps.types'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'terms' %} active{% endif %}" href="{{ url('larps',{'title': 'terms'}) }}">{{ 'title.larps.terms'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'history' %} active{% endif %}" href="{{ url('larps',{'title': 'history'}) }}">{{ 'title.larps.history'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'in_poland' %} active{% endif %}" href="{{ url('larps',{'title': 'in_poland'}) }}">{{ 'title.larps.in_poland'|trans }}</a>
        </li>
    </ul>
</nav>