<nav class="side-menu d-none d-md-block rounded navbar navbar-light">
    <a class="navbar-brand" href="#">{{ 'title.about_larp'|trans }}</a>
    <ul class="navbar-nav nav flex-column">
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'what_is_larp' %} active{% endif %}" href="{{ url('larps') }}">{{ 'title.what_is_larp'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'larp_types' %} active{% endif %}" href="{{ url('larps_types') }}">{{ 'title.larp_types'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'larp_terms' %} active{% endif %}" href="{{ url('larp_terms') }}">{{ 'title.larp_terms'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'larp_history' %} active{% endif %}" href="{{ url('larp_history') }}">{{ 'title.larp_history'|trans }}</a>
        </li>
    </ul>
</nav>