<nav class="side-menu d-none d-md-block rounded navbar navbar-light">
    <a class="navbar-brand" href="#">{{ 'title.group'|trans }}</a>
    <ul class="navbar-nav nav flex-column">
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'about' %} active{% endif %}" href="{{ url('group',{'title': 'about'}) }}">{{ 'title.group.about'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'events' %} active{% endif %}" href="{{ url('events') }}">{{ 'title.group.events'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'gallery' %} active{% endif %}" href="{{ url('gallery') }}">{{ 'title.group.gallery'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_subelement == 'contact' %} active{% endif %}" href="{{ url('group',{'title': 'contact'}) }}">{{ 'title.group.contact'|trans }}</a>
        </li>
    </ul>
</nav>