<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url('homepage') }}">
        {% image '../app/Resources/public/images/logo.png' %}
            <img src="{{ asset_url }}" class="d-inline-block" width="30" height="30" alt="Citizens of Dalaran logo" />
        {% endimage %} {{ 'title.website'|trans }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if active_element == 'news' %} active{% endif %}">
                <a class="nav-link" href="{{ url('homepage') }}">{{ 'title.news'|trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown{% if active_element == 'about' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{{ url('about') }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'title.group'|trans }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item{% if active_subelement == 'about' %} active{% endif %}" href="{{ url('about') }}">{{ 'title.about'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'events' %} active{% endif %}" href="{{ url('events') }}">{{ 'title.events'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'gallery' %} active{% endif %}" href="{{ url('gallery') }}">{{ 'title.gallery'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'contact' %} active{% endif %}" href="{{ url('contact') }}">{{ 'title.contact'|trans }}</a>
                </div>
            </li>
            <li class="nav-item dropdown{% if active_element == 'larps' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{{ url('larps') }}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'title.about_larp'|trans }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item{% if active_subelement == 'what_is_larp' %} active{% endif %}" href="{{ url('larps') }}">{{ 'title.what_is_larp'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'larp_types' %} active{% endif %}" href="{{ url('larps_types') }}">{{ 'title.larp_types'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'larp_terms' %} active{% endif %}" href="{{ url('larp_terms') }}">{{ 'title.larp_terms'|trans }}</a>
                    <a class="dropdown-item{% if active_subelement == 'larp_history' %} active{% endif %}" href="{{ url('larp_history') }}">{{ 'title.larp_history'|trans }}</a>
                </div>
            </li>
            <li class="nav-item{% if active_element == 'larps_in_poland' %} active{% endif %}">
                <a class="nav-link" href="#">{{ 'title.larps_in_poland'|trans }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i title="{{ 'title.contact'|trans }}" class="fa fa-envelope"></i><span class="d-md-none d-lg-inline"> {{ 'title.contact'|trans }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i title="{{ 'title.login'|trans }}" class="fas fa-sign-in-alt"></i><span class="d-md-none d-lg-inline"> {{ 'title.login'|trans }}</span></a>
            </li>
        </ul>
    </div>
</nav>