<div class="side-menu d-none d-md-block rounded navbar bg-light navbar-light">
    <a class="navbar-brand" href="#">{{ 'title.group'|trans }}</a>
    <ul class="navbar-nav nav flex-column">
        <li class="nav-item">
            <a class="nav-link{% if active_element == 'about' %} active{% endif %}" href="#">{{ 'title.about'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_element == 'archive' %} active{% endif %}" href="#">{{ 'title.archive'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_element == 'gallery' %} active{% endif %}" href="#">{{ 'title.gallery'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_element == 'contact' %} active{% endif %}" href="#">{{ 'title.contact'|trans }}</a>
        </li>
    </ul>
</div>