{% if carousel is not defined %}
    {% set carousel = 'sm_hide' %}
{% endif %}
{% if active_element is not defined %}
    {% set active_element = null %}
{% endif %}
{% if active_subelement is not defined %}
    {% set active_subelement = null %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | {{ 'title.website'|trans }}</title>
        <meta name="description" content="{% block description %}Grupa larpowa Citizens of Dalaran z Krakowa. Larpy w świecie World of Warcraft i nie tylko. Sam przeżyj opowieść, zamiast tylko ją oglądać.{% endblock %}">
        <meta name="author" content="Jędrzej Kubala">
        <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1, shrink-to-fit=no{% endblock %}">
        {% image '../app/Resources/public/images/favicon.ico' %}
            <link rel="shortcut icon" href="{{ asset_url }}" >
        {% endimage %}
        {% block stylesheets %}
            {% stylesheets
                '@bootstrap_css'
                '@tagsinput_css'
                '../app/Resources/public/css/*' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        {% endblock %}
        <style>
            body {

                    background: url("{% block body_background_image %}{% image '../app/Resources/public/images/background.jpg' %}{{ asset_url }}{% endimage %}{% endblock %}") no-repeat fixed;

                background-size: cover;
            }
        </style>
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class_layout %}{% endblock %}">

{% block body %}
    {% include 'components/_navbar.html.twig' %}
    <div id="front-container">
        {% block front_container %}
            {% if carousel is not null %}
                {{ render_esi(controller(
                    'AppBundle:Event:carouselEvents',
                    { 'max': 3, 'carousel': carousel }
                )) }}
            {% endif %}
        {% endblock %}
    </div>
    <div id="main-container" class="container">
        <div class="row main-row">
                {% if sidebar is defined %}
                    <div id="left-column" class="sticky-side sidebar-present">
                        {% block left_column %}
                            {% include 'components/_sidebar-' ~ sidebar ~ '.html.twig' %}
                            {% include 'components/_social.html.twig' %}
                        {% endblock %}
                    </div>
                {% endif %}
            <div id="main" class="col{% if sidebar is defined %} sidebar-present{% endif %}{% if right_hide is defined %} right-hide{% endif %}">
                {% block main %}
                <div class="card">
                    <div class="card-header">
                        <h1 id="content_title" class="text-center d-block">
                            {% block content_title %}{% endblock %}
                        </h1>
                        <span class="text-left">{% block content_description %}{% endblock %}</span>
                    </div>
                    <div class="card-body">
                        {{ include('components/_flash_messages.html.twig') }}
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
            {% if right_hide is not defined %}
                <div id="right-column" class="sticky-side">
                    {% block right_column %}
                        {% if sidebar is not defined %}
                            {% include 'components/_social.html.twig' %}
                        {% endif %}
                        {{ render_esi(controller(
                            'AppBundle:Event:upcomingEvents',
                            { 'max': 2 }
                        )) }}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{{ include('components/_footer.html.twig') }}
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@tagsinput_js' '../app/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ tinymce_init({
        selector: '.mceEditor',
        entity_encoding : "raw",
        })
    }}
    {% if scroll_to_content is defined %}
    <script>
        scroll_to_content();
    </script>
    {% endif %}
{% endblock %}
</body>
</html>
