{% extends 'base.html.twig' %}

{% block title %}{{ 'title.homepage'|trans }}{% endblock %}
{% block content_title %}{{ 'title.news'|trans }}{% endblock %}


{% block content %}
    {% if news is defined and news|length %}
        {% for id, post in news %}
            <div class="card post mb-3">
                <div class="card-header">
                    <a href="{{ url('news_view',{'id': id}) }}" class="link-unstyled">
                    <h2 class="float-left">
                        {{ post.title }}
                    </h2>
                    </a>
                    <span class="float-right">
                        {{ 'description.created'|trans({'%date%': post.created_date, '%author%': post.created_author}) }}
                        {% if post.modified_date %}
                            <br>
                            {{ 'description.modified'|trans({'%date%': post.modified_date, '%author%': post.modified_author}) }}
                        {% endif %}
                    </span>
                </div>
                <div class="card-body">
                    <a href="{{ url('news_view',{'id': id}) }}">
                        <img class="mb-3 news-image mr-lg-3" src="{{ post.img }}" alt="{{ post.title }} - image">
                    </a>
                    {{ post.summary|raw }}
                    <span class="d-block text-center">
                        <a href="{{ url('news_view',{'id': id}) }}" class="btn btn-secondary">{{ 'message.read_more'|trans }}</a>
                    </span>

                </div>
            </div>
        {% endfor %}
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
{% endblock %}
