{% extends 'base.html.twig' %}

{% block title %}{{ 'title.homepage'|trans }}{% endblock %}
{% block content_title %}{{ 'title.news'|trans }}{% endblock %}


{% block content %}
    {% if is_granted("ROLE_REDACTOR") %}
        <a class="btn btn-success mb-3" href="{{ path('news_add') }}"><i class="fas fa-plus"></i> {{ 'message.add_new'|trans }}</a>
    {% endif %}
    {% if news is defined and news|length %}
        {% for id, post in news %}
            {{ include('news/_summary_single.html.twig') }}
        {% endfor %}
        <div class="d-flex justify-content-center">
            {% if news.haveToPaginate %}

                <div class="navigation text-center">
                    <nav aria-label="Page navigation">
                        {{ pagerfanta(news, 'twitter_bootstrap4_translated', {routeName: 'homepage_paginated'}) }}
                    </nav>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
{% endblock %}
