{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}



{% block content_title %}
    {{ post.title }}
{% endblock %}
{%  block content_description %}
    {{ 'description.created'|trans({'%date%': post.created_date, '%author%': post.created_author}) }}
    {% if post.modified_date %}
        <br>
        {{ 'description.modified'|trans({'%date%': post.modified_date, '%author%': post.modified_author}) }}
    {% endif %}
{% endblock %}
{% block content %}
    <img class="mb-3 w-100" src="{{ post.img }}" alt="{{ post.title }} - image">
    {{ post.content|raw }}
    <span class="text-center d-block">
        <a href="{{ url('homepage') }}" class="btn btn-secondary">{{ 'message.back_to_news'|trans }}</a>
    </span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        scroll_to_content();
    </script>
{% endblock %}