{% extends "base.html.twig" %}

{% block title %}
    {{ 'title.users'|trans }}
{% endblock %}
{% block content_title %}
    {{ 'title.users'|trans }}
{% endblock %}

{% block content %}

    {% if users is defined and users|length %}

        {% for user in users %}
            {% set current_role = 'user' %}
            {% for role in user.roles %}
                {% if role == "ROLE_SUPER_ADMIN" %}
                    {% set current_role = 'super_admin' %}
                {% elseif role == "ROLE_ADMIN" and current_role != 'super_admin' %}
                    {% set current_role = 'admin' %}
                {% elseif role == "ROLE_REDACTOR" and current_role != 'super_admin' and current_role != 'admin' %}
                    {% set current_role = 'redactor' %}
                {% endif %}
            {% endfor %}
            <div class="media mb-3 border rounded">
                <a class="link-unstyled" href="{{ path('user_view', {'id': user.id}) }}">
                    {% if user.profilePicturePath %}
                        <img class="mr-3 media-image rounded" src="{{ asset('./uploads/' ~ user_subdirectory_path ~ '/' ~ user.profilePicturePath) }}" alt="user {{ user.username }} profile image">
                    {% else %}
                        {% image '../app/Resources/public/images/placeholder.png' %}
                            <img class="mr-3 media-image rounded" src="{{ asset_url }}" alt="placeholder image">
                        {%  endimage %}
                    {% endif %}
                </a>
                <div class="media-body">
                    <a class="link-unstyled" href="{{ path('user_view', {'id': user.id}) }}">
                        <h5 class="mt-1">
                            {% if current_role == 'user' %}
                                {{ user.username }}
                            {% else %}
                                <strong>{{ user.username }}</strong>
                                    <br>
                                    <small><em>{{ ('info.' ~ current_role)|trans }}</em></small>
                            {% endif %}
                        </h5>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <p class="mb-0">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
                        {% if user.name %}
                            <p class="mb-0">{{ 'profile.show.name'|trans }}: {{ user.name }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}

{% endblock %}
