{% extends "base.html.twig" %}

{% block title %}
    {{ 'title.show_profile'|trans }}: {{ user.username }}
{% endblock %}
{% block content_title %}
    {{ 'title.show_profile'|trans }}: {{ user.username }}
{% endblock %}
{% block content_description %}
    {% set current_role = 'user' %}
    {% for role in user.roles %}
        {% if role == "ROLE_SUPER_ADMIN" %}
            {% set current_role = 'super_admin' %}
        {% elseif role == "ROLE_ADMIN" and current_role != 'super_admin' %}
            {% set current_role = 'admin' %}
        {% elseif role == "ROLE_REDACTOR" and current_role != 'super_admin' and current_role != 'admin' %}
            {% set current_role = 'redactor' %}
        {% endif %}
    {% endfor %}
    {% if current_role != 'user' %}
    {{ 'message.user_role'|trans }}: {{ ('info.' ~ current_role)|trans }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="fos_user_user_show row">
        <div class="col col-md-4">
            {% if user.profilePicturePath %}
                <img class="mb-3 w-100" src="./uploads/user/profilepics/{{ user.profilePicturePath }}" alt="user {{ user.username }} profile image">
            {% else %}
                {% image '../app/Resources/public/images/placeholder.png' %}
                    <img class="mb-3 w-100" src="{{ asset_url }}" alt="placeholder image">
                {%  endimage %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <p><em>{{ user.description }}</em></p>
            {% endif %}
        </div>
        <div class="col col-md-8">
            <p>{{ 'profile.show.created_date'|trans }}: {{ user.createdDate|localizeddate('long', 'none') }}<br>
                {{ 'profile.show.last_login'|trans }}: {{ user.lastLogin|localizeddate('long', 'none') }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
                <p>{{ 'profile.show.name'|trans }}: {{ user.name }}</p>
                <p>{{ 'profile.show.date_of_birth'|trans }}: {{ user.dateOfBirth|localizeddate('long', 'none') }}</p>
                <p>{{ 'profile.show.phone_number'|trans }}: {{ user.phoneNumber }}</p>
                <p>{{ 'profile.show.emergency_phone'|trans }}: {{ user.emergencyPhone }}</p>
                <p>{{ 'profile.show.health_issues'|trans }}: <br>{{ user.healthIssues }}</p>
                <p>{{ 'profile.show.noishment_issues'|trans }}: <br>{{ user.nourishmentIssues }}</p>
            {% else %}
                <p><em>{{ user.description }}</em></p>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('user_index') }}" class="btn btn-secondary m-1">
                    <i class="fas fa-users"></i> {{ 'message.all_users'|trans }}
                </a>
            {% endif %}
            <a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}">
                <i class="fas fa-arrow-circle-left"></i> {{ 'message.back'|trans }}
            </a>
        </div>
    </div>
    {% if posts|length %}
        <hr>
        <h2 class="m-3 text-center">{{ 'title.associated_posts'|trans }}</h2>
        <div class="clearfix"></div>
        {% for post in posts %}
            {{ include('news/_summary_single.html.twig') }}
        {% endfor %}
    {% else %}
        {{ 'message.no_associated_posts'|trans }}
    {% endif %}
{% endblock %}
