{% extends 'base.html.twig' %}

{% block title %}{{ ('title.larp.' ~ active_subelement)|trans }}{% endblock %}
{% block content_title %}{{ ('title.larp.' ~ active_subelement)|trans }}{% endblock %}


{% block content %}
    <a class="btn btn-success mb-3 float-right" href="{{ path('texts_add') }}"><i class="fas fa-plus"></i> {{ 'message.add_new'|trans }}</a>
    {% if texts is defined and texts|length %}
        <ol>
            {% for id, text in texts %}
                <a href="#{{ id }}"><li>{{ text.title }}</li></a>
            {% endfor %}
        </ol>
        {% for id, text in texts %}
            <div class="card post mb-3">
                <div id="{{ id }}" class="card-body">
                    <span class="d-block text-center float-right">
                        <a href="{{ url('texts_edit',{'id': text.id}) }}" class="btn btn-primary m-1"><i class="fas fa-edit"></i> {{ 'message.edit'|trans }}</a>
                        <a href="{{ url('texts_delete',{'id': text.id}) }}" class="btn btn-danger m-1"><i class="fas fa-trash-alt"></i> {{ 'message.delete'|trans }}</a>
                    </span>
                    <h2>
                        {{ text.title }}
                    </h2>
                    {{ text.content|raw }}
                    <a href="#content_title" class="btn btn-secondary">{{ 'message.scroll_to_top'|trans }}</a>
                </div>
            </div>
        {% endfor %}
        {#<div class="d-flex justify-content-center">#}
            {#{% if news.haveToPaginate %}#}

                {#<div class="navigation text-center">#}
                    {#<nav aria-label="Page navigation">#}
                        {#{{ pagerfanta(news, 'twitter_bootstrap4_translated', {routeName: 'homepage_paginated'}) }}#}
                    {#</nav>#}
                {#</div>#}
            {#{% endif %}#}
        {#</div>#}
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
{% endblock %}
