{% set active_element = 'profile' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    {{ 'title.show_profile'|trans }}: {{ user.username }}
{% endblock %}
{% block content_title %}
    {{ 'title.show_profile'|trans }}: {{ user.username }}
{% endblock %}
{%  block content_description %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {{ 'message.user_role'|trans }}: {{ 'info.super_admin'|trans }}
    {% elseif is_granted("ROLE_ADMIN") %}
        {{ 'message.user_role'|trans }}: {{ 'info.admin'|trans }}
    {% elseif is_granted("ROLE_REDACTOR") %}
        {{ 'message.user_role'|trans }}: {{ 'info.redactor'|trans }}
    {% endif %}
{% endblock %}

{% block fos_user_content %}

    <div class="fos_user_user_show row">
        <div class="col col-md-4">
            {% if user.profilePicturePath %}
                <img class="mb-3 w-100" src="/uploads/user/profilepics/{{ user.profilePicturePath }}" alt="user {{ user.username }} profile image">
            {% else %}
                {% image '../app/Resources/public/images/placeholder.png' %}
                    <img class="mb-3 w-100" src="{{ asset_url }}" alt="placeholder image">
                {%  endimage %}
            {% endif %}
            <p><em>{{ user.description }}</em></p>
        </div>
        <div class="col col-md-8">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
            {% if user.name %}
                <p>{{ 'profile.show.name'|trans }}: {{ user.name }}</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url('fos_user_change_password') }}" class="btn btn-secondary m-1">
        {{ 'message.change_password'|trans }}
    </a>
    <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-secondary m-1">
        {{ 'message.edit_profile'|trans }}
    </a>
{% endblock fos_user_content %}
